li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* header (Den sorte) */

header {
  background-color: black;
  position: sticky;
  top: 0;
  left: 0;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

/* #menu (Den Gule) */

#menu {
  /* position: absolut gør elementets placerering relativt til den nærmeste parent som ikke har position: static (static er default på alle elementer). Her er den relativ ifht "header", da den er position: sticky.  */
  position: absolute;

  top: 0;
  left: 0;
  width: 50vw;
  height: 100vh;
  background-color: grey;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 20px;

  transform: translateX(-100%);
  transition: transform 0.5s cubic-bezier(0.83, 0.04, 0.1, 0.97);
}

#menu.hide {
  transition-delay: 500ms;
}

#menu.open {
  transform: translateX(0);
}

#menu a {
  font-family: sans-serif;
  color: white;
  font-weight: 700;
  font-size: 1.7rem;
  display: block;
  transition: transform 0.5s cubic-bezier(0.83, 0.04, 0.1, 0.97),
    opacity 0.5s cubic-bezier(0.83, 0.04, 0.1, 0.97);
}

#menu #try {
  transition-delay: 400ms;
}

#menu #to {
  transition-delay: 450ms;
}

#menu #hover {
  transition-delay: 500ms;
}

#menu #me {
  transition-delay: 550ms;
}

#menu.hide #try {
  transition-delay: 0ms;
}

#menu.hide #to {
  transition-delay: 50ms;
}

#menu.hide #hover {
  transition-delay: 100ms;
}

#menu.hide #me {
  transition-delay: 150ms;
}

#menu.hide a {
  transform: translateX(-70px);
  opacity: 0;
}

/* #burger_btn (Den blå) */

#burger_btn {
  width: 40px;
  height: 40px;
  background-color: rgb(22, 20, 109);
  position: relative;
}

.stroke {
  width: 100%;
  height: 3px;
  position: absolute;
  top: calc(50% - 1.5px);
  left: 0;
  background-color: white;
}

.stroke.top {
  transform: translateY(-10px);
}

.stroke.bottom {
  transform: translateY(10px);
}

/* #burger_btn OPEN / Hide*/

#burger_btn.open .stroke {
  animation-duration: 1s;
  animation-fill-mode: both;
}

#burger_btn.open .stroke.top {
  animation-name: kf_stroke_top;
}

#burger_btn.open .stroke.center {
  animation-name: kf_stroke_center;
}

#burger_btn.open .stroke.bottom {
  animation-name: kf_stroke_bottom;
}

#burger_btn.hide .stroke {
  animation-direction: reverse;
  animation-duration: 1s;
  animation-fill-mode: both;
}

#burger_btn.hide .stroke.top {
  animation-name: kf_stroke_top;
}

#burger_btn.hide .stroke.center {
  animation-name: kf_stroke_center;
}

#burger_btn.hide .stroke.bottom {
  animation-name: kf_stroke_bottom;
}

/* Keyframes */

@keyframes kf_stroke_center {
  0% {
    transform: rotate(0deg);
    animation-timing-function: cubic-bezier(0.83, 0.04, 0.1, 0.97);
  }

  50% {
    transform: rotate(0deg);
    animation-timing-function: cubic-bezier(0.83, 0.04, 0.1, 0.97);
  }

  100% {
    transform: rotate(45deg);
  }
}

@keyframes kf_stroke_top {
  0% {
    transform: translateY(-12px);
    animation-timing-function: cubic-bezier(0.83, 0.04, 0.1, 0.97);
  }

  50% {
    transform: translateY(0px);
    animation-timing-function: cubic-bezier(0.83, 0.04, 0.1, 0.97);
  }

  100% {
    transform: translateY(0px) rotate(45deg);
  }
}

@keyframes kf_stroke_bottom {
  0% {
    transform: translateY(12px);
    animation-timing-function: cubic-bezier(0.83, 0.04, 0.1, 0.97);
  }

  50% {
    transform: translateY(0px);
    animation-timing-function: cubic-bezier(0.83, 0.04, 0.1, 0.97);
  }

  100% {
    transform: translateY(0px) rotate(-45deg);
  }
}
